.paragraph {
    color: #d63384;
    background-color: rgb(255, 100, 250);

}

/**

 */
.div {
    background-color: rgb(255, 100, 250);
    background-image: url("./back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background: linear-gradient(to right, rgb(241, 132, 19, 255), azure)  , url("./back.png") center center no-repeat;*/
    height: 500px;

}

.div2 {
    box-sizing: border-box;
    /*border-color: #1a1e21;*/
    /*border-style: solid;*/
    /*border-top-width: 2px;*/

    border: 2px solid rgb(255, 100, 250);
    /*border-right: 2px solid rgb(255, 100, 250);*/

    outline: 4px solid #0d6efd;

    padding: 5px;

    width: 500px;
    height: 500px;

    border-radius: 10px;

}