/**
for every page
 */
* {
    /*reset*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
for every page
 */
a {
    text-decoration: none;
}

/**
for every page
 */
ul,ol {
    list-style: none;
}

html, body {
    font-family: "Vazirmatn", sans-serif; /* if vazirmatn with any reason could not load, second option load --> fallback*/
}

.title {
    font-size: 30px;
    font-weight: 200;
    color: #0d6efd;
    text-align: center;
    display: block;
}
.description {
    font-size: 30px;
    font-weight: 200;
    color: #d63384;
    text-align: justify;
    display: block;
    margin: 10px;
    line-height: 50px;
}

.number {
    font-size: 30px;
    font-weight: 300;
    color: #146c43;
    text-align: center;
    text-decoration: line-through;
}

a {
    text-decoration: none;

}